@{
    ViewData["Title"] = "Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/customStyle.css" rel="stylesheet" />
<style>
    .searchbox-container {
        width: 100%;
        display: flex;
        margin-bottom: 20px;
    }

    .searchbox {
        border-style: double;
        border-color: darkgoldenrod;
        margin-left: 10px;
    }
</style>
<section class="section-products">
    <div class="container">
        <div class="searchbox-container">
            <input type="text" id="txtSearchBook" placeholder="Book Name" class="searchbox form-control" style="width: 40%;" />
            <select id="ddlBookLanguage" class="searchbox form-control" style="width: 40%;"></select>
            <button id="btnBookSearch" class="searchbox btn-info" style="width: 10%;">Search</button>
            @*<input type="text" id="txtSearchBook" class="searchbox" />*@
        </div>

        @*<div class="row justify-content-center text-center">
                <div class="col-md-8 col-lg-6">
                    <div class="header">
                        <h2> Books</h2>
                    </div>
                </div>
            </div>*@
        <div class="row" id="dvbooks">

        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        getAllBooks(null, 0, true);
        $("#btnBookSearch").click(function () {
            let bookName = $("#txtSearchBook").val();
            let languageId = parseInt($('#ddlBookLanguage').val());
            getAllBooks(bookName, languageId, false);
        });
    });
    function getAllBooks(bookName, languageId, reloadLanguage = false) {
        $.ajax({
            type: "GET",
            url: ServiceUrl + "api/Book/Resource/Books/Sales",
            data: { "bookName": bookName, "languageId": languageId },
            beforeSend: function () {
                $("#loader-container").show();
            },
            complete: function () {
                $("#loader-container").hide();
            },
            success: function (data) {
                try {
                    $("#dvbooks").empty();
                    var dvRecord = "";
                    for (let i = 0; i < data.books.length; i++) {
                        dvRecord += addBooktoDiv(data.books[i]);
                    }
                    $("#dvbooks").append(dvRecord);
                    if (reloadLanguage) {
                        dvRecord = "<option value='-1'>SELECT-LANGUAGE</option>";
                        for (let i = 0; i < data.languages.length; i++) {
                            dvRecord += '<option value="' + data.languages[i].languageId + '">' + data.languages[i].languageName + '</option>';
                        }
                        $("#ddlBookLanguage").html(dvRecord);
                    }

                } catch (e) {
                    //alert("Error in Storing Authors In table" + e.message);
                    alertify.error("Error in Storing Books In Card");
                }
            },
            headers: {
                //Authorization: 'Bearer ' + accessToken
            },
            error: function (request, status, errorThrown) {
                if (request.statusCode == 401) {
                    RedirectToLogin();
                }
                alertify.error("Error in getting Data");
                //alert("Error in getting all Authors");
            }

        });

    }
    function addBooktoDiv(record) {
        let currentBook = "";
        currentBook = '<div class="col-md-6 col-lg-4 col-xl-3">';
        currentBook += '<div id="product" class="single-product">';
        currentBook += '<div class="part-1" style="background: url(\'' + ServiceUrl + record.bookImagePath + '\'); background-repeat: round;">';
        //currentBook += '<ul>';
        //currentBook += '<li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>';
        //currentBook += '<li><a href="#"><i class="fas fa-heart"></i></a></li>';
        //currentBook += '<li><a href="#"><i class="fas fa-plus"></i></a></li>';
        //currentBook += '<li><a href="#"><i class="fas fa-expand"></i></a></li>';
        //currentBook += '<ul>';
        currentBook += '</div>';
        currentBook += '<div class="part-2">';
        currentBook += '<h3 class="product-title">' + record.bookTitle + '</h3>';
        currentBook += '<h3 class="product-title">' + record.isbn + '</h3>';
        //currentBook += '<h4 class="product-old-price">$' + record.bookDescription +'</h4>';
        currentBook += '<h4 class="product-price">$' + record.bookPrice + '</h4>';
        currentBook += '<div> <button class="btn btn-success" onClick="openProduct(' + record.bookId + ')" > Buy Now</button> </div>';
        currentBook += '</div>';
        currentBook += '</div>';
        currentBook += '</div>';

        return currentBook;

    }
    function openProduct(BookId) {
        localStorage.setItem("BookId", BookId);
        location.href = '/Home/Books';

    }
</script>