@{
    ViewData["Title"] = "Login Page";
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStoreUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/alertify.min.css" rel="stylesheet" />
    <style>
        #loader-container {
            background-color: rgba(0,0,0,0.5);
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 100;
        }

        #loader {
            position: relative;
            left: 45%;
            top: 50%;
            width: 50px;
            height: 50px;
            border: 5px solid green;
            border-radius: 50%;
            animation: zoom 2s ease-in-out infinite;
        }

        @@keyframes zoom {
            0% {
                transform: scale(0.2);
                border-color: green;
            }

            50% {
                transform: scale(1.2);
                border-color: orange;
            }

            100% {
                transform: scale(0.2);
                border-color: green;
            }
        }
        /*#loader {
            border: 12px solid #f3f3f3;
            border-radius: 50%;
            border-top: 12px solid #444444;
            width: 70px;
            height: 70px;
            animation: spin 1s linear infinite;
        }

        @@keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }

        .center {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }*/
    </style>
</head>
<body>
    @* <div id="loader" class="center" style="display:none;"></div>*@
    <div id="loader-container" style="display:none;">
        <div id="loader"></div>
    </div>
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form>
                        @*<div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                                <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                                <button type="button" class="btn btn-primary btn-floating mx-1">
                                    <i class="fab fa-facebook-f"></i>
                                </button>

                                <button type="button" class="btn btn-primary btn-floating mx-1">
                                    <i class="fab fa-twitter"></i>
                                </button>

                                <button type="button" class="btn btn-primary btn-floating mx-1">
                                    <i class="fab fa-linkedin-in"></i>
                                </button>
                            </div>

                            <div class="divider d-flex align-items-center my-4">
                                <p class="text-center fw-bold mx-3 mb-0">Or</p>
                            </div>*@

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" id="txtEmail" class="form-control form-control-lg"
                                   placeholder="Enter a valid email address" required />
                            @*<label class="form-label" for="txtEmail">Email address</label>*@
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <input type="password" id="txtPassword" class="form-control form-control-lg"
                                   placeholder="Enter password" required />
                            @*<label class="form-label" for="txtPassword">Password</label>*@
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Checkbox -->
                            @*<div class="form-check mb-0">
                                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                                    <label class="form-check-label" for="form2Example3">
                                        Remember me
                                    </label>
                                </div>*@
                            @*        <a href="#!" class="text-body">Forgot password?</a>*@
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="button" id="btnLogin" class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                Login
                            </button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">
                                Don't have an account? <a href="Home/Signup"
                                                          class="link-danger">Register</a>
                            </p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
            <!-- Copyright -->
            <div class="text-white mb-3 mb-md-0">
                Copyright © 2022. All rights reserved.
            </div>
            <!-- Copyright -->
            <!-- Right -->
            @*<div>
                    <a href="#!" class="text-white me-4">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#!" class="text-white me-4">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#!" class="text-white me-4">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#!" class="text-white">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>*@
            <!-- Right -->
        </div>
    </section>
</body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/js/alertify.min.js"></script>
<script src="~/js/Global.js"></script>
<script>
    $(document).ready(function () {
        let errorMessage = localStorage.getItem("message");
        if (errorMessage) {
            alertify.warning(errorMessage);
        }
        localStorage.clear();
        $("#btnLogin").click(function () {
            var User = {
                "UserEmail": $("#txtEmail").val(),
                "Password": $("#txtPassword").val(),
                "UserTypeId": 2

            };
            var UserJson = JSON.stringify(User);
            $.ajax({
                url: ServiceUrl + "api/User/authenticate",
                type: "POST",
                dataType: 'json',
                beforeSend: function () {
                    $("#loader-container").show();
                },
                complete: function () {
                    $("#loader-container").hide();
                },

                contentType: "application/json; charset=utf-8",
                data: UserJson,
                success: function (data) {
                    try {
                        localStorage.setItem("accessToken", data.token);
                        location.href = '/Home/AllBooks';
                    } catch (e) {
                        alertify.error("Error after Login");
                        //alert("Error after Login " + e.message);
                    }
                },
                error: function (request, status, errorThrown) {
                    if (request.status == 401) {
                        alertify.error("Invalid Credentials");
                    } else {
                        alertify.error("Error in Login");
                    }
                    //alert("Error in Login" + e.errorMessage);
                    //console.log(e);
                },
            });
        });
    });
</script>